.mypy_cache/
/.coverage
/.coverage.*
/.nox/
/.python-version
/.pytype/
/dist/
/docs/_build/
/src/*.egg-info/
__pycache__/
.vscode/
args.json
temp.json
**/*.DS_Store
api_docs/build/
api_docs/make.bat
api_docs/Makefile
